@import "colors";
@import './_base';
@import './_homepage';
@import './_people';
@import '~antd/dist/antd.less';

.app {
  min-height: 100vh;
  background: #ffffff;

  .ant-layout-header {
    background: #ffffff;
    position: absolute;
    top: 0;
    border-bottom: 1px solid lighten(#000000, 90%);
    height: 64px;
    left: 0;
    width: 100%;

    .ant-menu-horizontal {
      position: absolute;
      bottom: 0;
      right: 0;
      float: right;
      background: #ffffff;
    }

    .nav-text {
      margin: 0 10px;
      color: @color-primary;
      font-size: 20px;
    }

    .nav-text:hover {
      color: darken(@color-primary, 20%);
    }

    .ant-menu-item {
    }

    .logo {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 160px;
      height: 100%;
      float: left;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;

      h2 {
        margin: 0 10px;
        color: @color-primary;
        font-size: 24px;
      }

    }


  }

  .ant-layout-footer {
    background: @color-primary;
    height: 90px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
  }

  .ant-layout {
    height: 100%;
    overflow-y: auto;
  }
}

.app-content {
  margin: 110px auto;
  width: 60%;
}

.app-text.ant-typography {
  font-size: 14px;
}


.title.ant-typography {
  color: @text-color-primary;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.subheader.ant-typography {
  margin: 150px 0 70px 0;
  color: @text-color-primary;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.ant-typography.subtitle {
  margin: 10px 0;
  font-size: 23px;
  font-weight: bold;
  color: lighten(@text-color-primary, 5%);
}

.research.ant-typography.subtitle {
  margin: 40px 0 0 0;
}

.research-details {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-style: italic;
  margin-bottom: 8px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: lighten(@text-color-primary, 5%);
}


.app-text, .app-text.ant-typography {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  color: lighten(@text-color-primary, 5%);
}

.sub-text.ant-typography {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: lighten(@text-color-primary, 35%);
}





